body{
  font-family:"Lucida Sans Unicode","Lucida Grande",Helvetica,Arial,sans-serif;
  font-size:13px;
  color:gray;
}
.mbmenu{
  display:none;
}
.rootVoices{
  background-color:#CBDDEA;
  padding:4px;
  padding-bottom:0;
  cursor: pointer;
  padding-top:0;
}
.rootVoices td.rootVoice {
  vertical-align:middle;
  /*background-color:#fff; */
  width:150px;
  font-family:Arial,Helvetica,sans-serif;
 /* text-shadow:#fff 1px 1px 1px; #3A94EC*/
  color: #000000;
  font-size:13px;
  line-height:14px;
  padding:6px;
  cursor: pointer;
  margin-left:2px;
}

.rootVoices td.rootVoice.selected{
	background:#41BFEE; 
	width:150px;
	padding:6px;
	color:#000000;
	cursor: pointer;
	font-size:13px;
	font-weight: bold;
   /* text-shadow:#660033 1px 1px 1px;*/
    /*
    -moz-box-shadow:#BAD0DF 2px 2px 10px;
    -webkit-box-shadow:#BAD0DF 2px 2px 10px;
    */
  -moz-border-radius:8px 8px 0 0px;
  -webkit-border-top-right-radius:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;

}
.rootVoices td.rootVoice.disabled.selected{
 /* -moz-box-shadow:#ddd 2px 2px 10px;
 
  -webkit-box-shadow:#ddd 2px 2px 10px;
  */ 
  background:#BAD0DF!important;
  color:#aaa;
  text-shadow:#fff 1px 1px 1px;
}



.rootVoices.vertical {
	width:140px;
}
.rootVoices.vertical td.rootVoice{
	-moz-border-radius:1px 0px 0 1px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;
}
/*
.menuShadow{
	padding:2px;
	padding-bottom:0px;
	left:-2px;
	top:1px;
}
*/

.menuContainer{
  /*overflow:hidden;*/
  position:absolute;
	background-color:#f3f3f3;
  border-top:5px solid #B23305;
	padding:0;
  -moz-box-shadow:#999 2px 5px 10px;
  -webkit-box-shadow:#999 2px 5px 10px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
}
.menuContainer.submenuContainer{
  border-top:none!important;
}

.menuContainer.disabled{
  -moz-box-shadow:#ddd 2px 5px 10px;
  -webkit-box-shadow:#ddd 2px 5px 10px;
  border-top:5px solid #f9f9f9;
  background-color: #f3f3f3;
}
.menuContainer .line{
	background-color:transparent;
	width:100%;
}
.menuContainer .line.title {
	background-color:#B23305;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	/*padding:0px;*/
/*border-bottom:1px solid black;*/
}
.menuContainer.disabled .line.title {
  background-color: #f9f9f9;
}
.menuContainer .line.title a{
	cursor: pointer;
	font-size:10px;
  color:#FFF;
  text-shadow:#660033 1px 1px 1px;
}
.menuContainer.disabled .line.title a{
  font-size:12px;
  color:#aaa;
  text-shadow:#fff 1px 1px 1px;
}
.menuContainer td a{
	text-decoration:none;
	cursor: pointer;
	color: #666;
  text-shadow:#fff 1px 1px 1px;
}
.menuContainer td.voice{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:5px;
}
/************/
.menuContainer .line.title b{
	font-size:18px;
  color:#FFF00;
  text-shadow:#660033 1px 1px 1px;
}
.menuContainer.disabled .line.title b{
  font-size:18px;
  color:#aaa;
  text-shadow:#fff 1px 1px 1px;
}
.menuContainer td b{
	text-decoration:none;
	color: #666;
  text-shadow:#fff 1px 1px 1px;
}

/*-----------*/
.menuContainer .separator{
background-color:#999;
height:1px;
padding:0;
margin:0;
}
.menuContainer td.img{
	font-family:Arial,Helvetica,sans-serif;
	text-align:center;
	font-size:12px;
	color: #c3c3c3;
	background-color:transparent;
	width:24px;

    /*border: 1px solid #3e3e3e;
	border-width: 2px 2px 2px; */
	padding:3px;

}
.menuContainer td.img img{
	width:32px;
	heigh:25px;
}
.menuContainer .textBox{
	padding: 10px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color: #999;
}
.menuContainer .selected td{
	background-color:#f3f3f3;
	background-image:url("./images/bgnd_sel_2.jpg")
}
.menuContainer .selected td a{
	cursor: pointer;
	color:#000;
  text-shadow:#fff 2px 2px 1px;
  display:block;  
}
.menuContainer .disabled td, .menuContainer .disabled td a {
	cursor: pointer;
  color:#bbb;
  text-shadow:#fff 1px 1px 4px;
}
.menuContainer .subMenuOpener{
	background-image:url("./images/menuArrow.gif");
	background-repeat:no-repeat;
	background-position:right;
}
.menuContainer .selected .subMenuOpener{
	background-image:url("./images/menuArrow.gif");
	background-repeat:no-repeat;
	background-position:right;
}

/*BOX MENU*/
 
.boxMenu{
  color:#f3f3f3;
  border-top:8px solid #B23305;
  background:url("./images/box_top.png") repeat-x;
}
.boxMenu h4{
  white-space:nowrap;
  margin:0 0 20px 0;
  padding:3px;
  font:18px/20px georgia, serif;
  padding-right:20px;
  text-shadow:#666 2px 2px 1px;
}

.boxMenu td{
  min-width:160px;
  vertical-align:top;
  border-right:1px solid #999;
}

.boxMenu td:hover{
  background:#BAD0DF;
  -moz-box-shadow:#666 2px 2px 4px;
  -webkit-box-shadow:#666 2px 2px 4px;
}

.boxMenu td:hover a{
  margin-right:3px;
  text-shadow:#fff 1px 1px 1px;
  color:#000;
}

.boxMenu td:last-child{
  min-width:160px;
  vertical-align:top;
  border-right:none;
}

.boxMenu a{
  font-size:14px;
  white-space:nowrap;
  display:block;
  padding:5px;
  margin-bottom:5px;
}

.boxMenu a img{
  padding-right:5px;
}

.boxMenu a:hover{
  color:#000;
  text-shadow:#fff 2px 2px 1px;
  background-image:url("./images/bgnd_sel_2.jpg"); 
  -moz-box-shadow:#666 2px 2px 4px;
  -webkit-box-shadow:#666 2px 2px 4px;
}

.boxMenu a img{
  border:0;
}
	
.pageheader {
	color: #CCC;
	background-image: url(images/header_3.png);
	height: 100px;
	background-position: center top;
	width:100%;
}

/*[BEGIN icon]*/
 .img_menu
    {
        display:block;
        width: 217px;
        height:80px; 
        background-image: url('image/static/menu.png');
        background-repeat: no-repeat;
    }
.img_menu report_icon1
{
    width:32px; 
    height:25px;
    background-position: -0px -0px;
}
.img_menu report_icon2
{
    width:32px;
    height:25px;
    background-position: -33px -0px;
}
.img_menu report_icon3
{
    width:32px;
    height:25px;
    background-position: -66px -1px;
}
.img_menu report_icon4
{
    width:32px;
    height:25px;
    background-position: -99px -1px;
}
.img_menu report_icon5
{
    width:32px;
    height:25px;
    background-position: -132px -1px;
}
.img_menu report_icon6
{
    width:32px;
    height:25px;
    background-position: -165px -1px;
}
.img_menu investigation_icon1
{
    width:32px;
    height:25px;
    background-position: -0px -25px;
}
.img_menu investigation_icon2
{
    width:32px;
    height:25px;
    background-position: -33px -25px;
}
.img_menu investigation_icon3
{
    width:32px;
    height:25px;
    background-position: -66px -25px;
}
.img_menu investigation_icon4
{
    width:32px;
    height:25px;
    background-position: -99px -25px;
}
.img_menu investigation_icon5
{
    width:32px;
    height:25px;
    background-position: -132px -25px;
}
.img_menu static_icon1
{
    width:32px;
    height:25px;
    background-position: -165px -25px;
}
.img_menu static_icon2
{
    width:32px;
    height:25px;
    background-position: -0px -50px;
}
.img_menu static_icon3
{
    width:32px;
    height:25px;
    background-position: -33px -50px;
}
.img_menu static_icon4
{
    width:32px;
    height:25px;
    background-position: -66px -50px;
}

 